/*
Eliminar estils per defecte del navegador
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  color: sienna;
  font-family: Arial, sans-serif;
}
header {
    margin-top: 5%;
    font-family: 'Arial Narrow Bold';
    text-align: center;
}
header h1 {
    font-size: 50px;
}

header h2 {
    margin-top: 2%;
    font-size: 30px;
    font-weight: normal;
}
.menu {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.menu-button {
    font-family: 'Arial Narrow Bold';
    font-size: 25px;
    height: 70px;
    width: 700px;
    background-color: rgb(218, 133, 94);
    font-size: 20px;
}